.indicators-form-common {
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

.horizontal-wrapper{
    display: flex;
}

.indicators-form-common .indicators-form-button {
    position: relative;
}

.indicators-form-common .indicators-form-button button:last-of-type{
    position: absolute;
    right: 0;
}