.container {
    margin: 10px auto;
    background-color: azure;
}

.horizontal-wrapper{
    display: flex;
    flex-direction: row;
}

.vertical-wrapper{
    display: flex;
    flex-direction: column;
}