.delete-form input{
    margin-top: 10px;
}

.delete-form .buttons {
    margin-top: 20px
}

.delete-form .buttons {
    margin-left: 0;
    width: 70%;
    position: relative;
}

.delete-form .buttons button:last-child{
    position: absolute;
    right: 0;
}

.delete-form input {
    width: 60%;
}
